input{
  width: 284px;
  height: 40px;
  border: 1.2px #9A1982 solid;
  border-radius: 10px;
  padding:.5rem;
  margin-top: 4px;
  margin-bottom: 4px;
  outline: none;
}
button{
  width: 170px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  box-shadow: none;
  font-size: 18px;
}
button:active {
  border-style: outset;
}
.btn-primary{
  background-color: #199854;
  border: 0;
  color: #FFFFFF;
}
.btn-secondary{
  background-color: #FFFFFF;
  border: 1px solid #199854;
  color: #199854;
  margin-top: 10px;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fa-chevron-left{
  color: #707070;
  font-size: 18px;
}
.profile-image{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: #707070;
}